<nav class="navbar navbar-default navbar-fixed-top home-menu" role="navigation">
  <div class="col-xs-12 no-padding-lr">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav col-xs-12">
        <li class="col-xs-3 mob"><a href="#home">Home</a></li>
        <li class="col-xs-3 mob"><a href="#story">Our Story</a></li>
        <li class="col-xs-3 mob"><a href="#wedding">Wedding</a></li>
        <li class="col-xs-3 mob"><a href="#rsvp">RSVP</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="banner-header" id="home">
  <div class="flexslider">
    <ul class="slides">
      <li style="background-image: url('/assets/banner-1.jpg');"></li>
      <li style="background-image: url('/assets/banner-2.jpg');"></li>
      <li style="background-image: url('/assets/banner-3.jpg');"></li>
      <li style="background-image: url('/assets/banner-4.jpg');"></li>
      <li style="background-image: url('/assets/banner-5.jpg');"></li>

    </ul>
  </div>
  <div class="header-text animatedParent" >
    <h1 class="jumbo-font animated bounceIn">
      <span>
        Martin & Theodora
        <h2><b>14 October 2017</b></h2>
      </span>
    </h1>
  </div>
</div>

<div class="col-xs-12 countdown animatedParent" data-sequence='300' id="story">
  <h1 class="animated bounceInDown" data-id='1'>We're tying the knot in</h1>
  <div id="countdown" class="animated bounceInDown" data-id='2'></div>
</div>

<div class="col-xs-12 cordially no-padding-lr">
  <div class="breadcrum-masking"></div>
  <div class="col-xs-12 no-padding-lr">
    <%= image_tag "request-presence.jpg", :class=>"img img-responsive" %>
    <div class="breadcrum-masking">
      <div class="container animatedParent" data-sequence='200'>
        <div class="col-xs-12 the-text animated bounceInDown" data-id='1'>By the love and grace of our God</div>
        <div class="col-xs-12 the-text animated bounceInDown" data-id='2'>We cordially request the honour of your presence</div>
        <div class="col-xs-12 the-text animated bounceInDown" data-id='3'>at the marriage of </div>
        <div class="col-xs-12 the-name animated bounceInDown no-padding-lr" data-id='4'>
          Martin & Theodora
        </div>
      </div>
    </div>
  </div>
  <%#*<div style="background:rgba(0, 0, 0, 0.6) none repeat scroll 0 0;height:100%;position: relative">%>
    <%#*<div class="header-text">%>
      <%#*<h1 class="jumbo-font">Martin & Theodora</h1>%>
      <%#*<h2>Are getting married</h2>%>
      <%#*<h2><b>14.10.2017</b></h2>%>
    <%#*</div>%>
  <%#*</div>%>
</div>


<%#*<div class="col-xs-12 cordially no-padding-lr">%>
  <%#*<div class="col-xs-12 no-padding-lr">%>
    <%#= image_tag "request-presence.jpg", :class=>"img img-responsive" %>
  <%#*</div>%>
  <%#*<div style="background:rgba(0, 0, 0, 0.6) none repeat scroll 0 0;height:100%;position: relative">%>
    <%#*<div class="header-text">%>
      <%#*<h1 class="jumbo-font">Martin & Theodora</h1>%>
      <%#*<h2>Are getting married</h2>%>
      <%#*<h2><b>14.10.2017</b></h2>%>
    <%#*</div>%>
  <%#*</div>%>
<%#*</div>%>

<div class="col-xs-12 no-padding-lr time-place-header">
  <div class="col-xs-12 no-padding-lr the-image animatedParent" data-sequence='300'>
    <div class="col-xs-6 col-sm-4 photo animated bounceInLeft" data-id='1'>
      <%= image_tag "dora.jpg", :class => "img-circle img-responsive" %>
    </div>
    <div class="col-sm-4 hidden-xs the-text animated bounceInDown" data-id='2'>
      We love<br />
      Because<br />
      He first loved us<br />
      1 John 4 : 19
    </div>
    <div class="col-xs-6 col-sm-4 photo animated bounceInRight" data-id='3'>
      <%= image_tag "martin.jpg", :class => "img-circle img-responsive" %>
    </div>
    <div class="col-md-12 hidden-sm hidden-md hidden-lg the-text animated bounceInDown" data-id='4'>
      We love Because He first loved us<br />
      1 John 4 : 19
    </div>
    <%#= image_tag "place-and-time--.jpg", :class=>"img img-responsive" %>

  </div>
</div>

<div class="col-xs-12 no-padding-lr wedding-time animatedParent" data-sequence='300' id="wedding">
  <div class="col-xs-12 header animated bounceInDown" data-id='1'>
    <span class="col-xs-12">Saturday</span>
    14 October 2017
  </div>
  <div class="col-xs-12 col-sm-6 holy-matrimony animated bounceInLeft" data-id='2'>
    <%= image_tag "ring.png", :class => "img img-responsive" %>
    <span class="col-xs-12">HOLY MATRIMONY</span>
    <span class="col-xs-12">11.00 AM</span>
    <span class="col-xs-12">GKPB FAJAR PENGHARAPAN</span>
    <span class="col-xs-12">JL. Pasirkoja No. 58</span>
    <span class="col-xs-12">Bandung</span>
  </div>
  <div class="col-xs-12 col-sm-6 reception animated bounceInRight" data-id='3'>
    <%= image_tag "cheers.png", :class => "img img-responsive" %>
    <span class="col-xs-12">WEDDING RECEPTION</span>
    <span class="col-xs-12">06.00 PM</span>
    <span class="col-xs-12">GRAHA MEKAR WANGI</span>
    <span class="col-xs-12">JL. Mekar Kencana No. 1A</span>
    <span class="col-xs-12">Bandung</span>
  </div>
</div>

<div class="col-xs-12 rsvp" id="rsvp">
  <h1>We hope you can join us !</h1>
  <div class="col-xs-12 rsvp-box">
    <%= form_tag reservation_path, :class => "form-horizontal", :remote => true do |f| %>
      <div class="form-group">
        <div class="col-xs-12">
          <%= text_field_tag "name", nil, :placeholder => "Please insert your Name",
                         :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <%= button_tag "Yes, I will come", :class=>"btn btn-rsvp col-xs-12", :id => "rsvp" %>
          <div class="spinner-block">
            <%= image_tag "spinner.gif", :class => "img img-responsive spinner" %>Loading
          </div>
          <%#= button_tag "Can't Going", :class=>"btn btn-primary col-xs-6" %>
        </div>
      </div>

    <% end %>
    <%#*<form class="form-horizontal">%>
      <%#*<div class="form-group">%>
        <%#*<div class="col-xs-12">%>
          <%#*<input class="form-control" placeholder="Please insert your Name" name="name" type="text">%>
        <%#*</div>%>
      <%#*</div>%>
      <%#*<div class="form-group">%>
        <%#*<div class="col-xs-12">%>
          <%#= button_tag "Yes, I will come", :class=>"btn btn-rsvp col-xs-12" %>
          <%#= button_tag "Can't Going", :class=>"btn btn-primary col-xs-6" %>
        <%#*</div>%>
      <%#*</div>%>
    <%#*</form>%>
  </div>
  
</div>

<div class="col-xs-12 save-the-date">
</div>

<!-- Modal -->
<div class="modal fade" id="thanks_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Thank You !</h4>
      </div>
      <div class="modal-body">
        Thank you for your RSVP !<br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("button#rsvp").click(function() {
      $("button#rsvp").hide();
      $(".spinner-block").show();
    });
  })

</script>

<%= javascript_include_tag "css3-animate-it" %>
